@media (max-width:420px) {
    .logo{
        padding-left: 0px;
    }
    .logo img{
        width: 130px;
      
    }
    .header-section h1{
        font-size: 4rem;
    }
    .header-section p{
        font-size: 1.2rem;
    }
    .features-section{
        flex-direction: column;
         gap: 30px;
      
    }
    .title-text h1{
        font-size: 2rem;
    }
    .left-sec{
        flex-basis: 100%;
    }
    .right-sec{
        flex-basis: 100%;
      
    }
    .right-sec img{
        width: 100%;
    }
      
    .service-gallry{
        grid-template-columns:1fr;
    }
    .textimonial-box{
        flex-direction: column;
        gap:13px;
    }
    .review-sec p{
        font-size: .9rem;
    }
   .contact-area{
    min-height: 100vh;
   }
   .timing-address{
    height: 100%;
  
    flex-direction: column;
    padding-block: 30px;
}
}